[user]
	name = TimZhang
	email = zewenzhang@gmail.com
[alias]
   co = checkout
   ca = commit -a
   cm = commit -m
   st = status
   br = branch
   df = diff
   onelog = log -p -1
   fhs = flow hotfix start
   fhf = flow hotfix finish
   ffs = flow feature start
   fff = flow feature finish

[diff]
	tool = bc3

[difftool "bcomp"]
	 path =  /usr/local/bin/bcomp

[difftool]
	prompt = false

[merge]
	tool = bc3

[mergetool "bcomp"]
  path = /usr/local/bin/bcomp

[core]
	editor = /usr/bin/vim
	excludesfile = /Users/tim/.gitignore_global

[push]
	default = upstream
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[gui]
  encoding = utf-8

[i18n]
	logoutputencoding = utf-8

