[user]
	name = TimZhang
	email = timzhang@dnspod.com
[alias]
   co = checkout
   ca = commit -a
   cm = commit -m
   st = status
   br = branch
   df = diff
   onelog = log -p -1
[diff]
   tool = vimdiff
[difftool]
   prompt = False
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/tim/.gitignore_global
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[push]
	default = upstream
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
