[user]
	name = TimZhang
	email = timzhang@dnspod.com
[alias]
   co = checkout
   ca = commit -a
   cm = commit -m
   st = status
   br = branch
   df = diff
   onelog = log -p -1
[diff]
   tool = vimdiff
[difftool]
   prompt = False
